.label {
    display: flex;
    flex-direction: column;
    font-size: 24px;
}

.input {
    width: 550px;
    background-color: white;
}

.button {
    font-family: 'Times New Roman', Times, serif;
    background-color: green;
    font-size: 20px;
    color: white;
}

.news__delete {
    background-color: red;
    color: white;
}

.newsForm h2 {
    background-color: lightgreen;
    width: 550px;
}

h1 {
    background-color: lightgreen;
    width: 550px;
}


h3 {
    font-size: 12px;
}

#newArticle {
    background-color: green;
    font-size: 20px;
    color: white;
    font-family: 'Times New Roman', Times, serif;
}

 

.messageField {
    display: flex;
    flex-direction: column;
    height: 75px;
    overflow-y: auto;
    justify-content: flex-start;
  }
  
  /* .border { border:solid 1px black;
    margin: 25px;
    padding: 50px;
    display: flex;
    overflow-y: auto;
    justify-content:first baseline
  } */

  .border {
    position: relative;
    display: inline-block;
    background-color: #f1f1f1;
    padding: 10px;
    border-radius: 10px;
    margin: 10px;
  }
  
  .border::before {
    content: "";
    position: absolute;
    top: 50%;
    left: -10px;
    border-style: solid;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent #f1f1f1;
    transform: translateY(-50%);
  }
  
  .border::after {
    content: "";
    position: absolute;
    top: 50%;
    right: -10px;
    border-style: solid;
    border-width: 10px 10px 10px 0;
    border-color: transparent #f1f1f1 transparent transparent;
    transform: translateY(-50%);
  }
  
  .alignMessage {
    display: flex;
    align-items: start;
    flex-direction: column;
  }
  .input_message {
    resize: none;
    font-size: 16px;
    padding: 10px;
    box-sizing: border-box;
    vertical-align: top;
    align-self: flex-start;
    margin: 0;
    padding: 0;
    height: 50px; 
    font-style: oblique;
  }
  .postSize{
    font-size: xx-small;
  }

  /* Style the thumbs-up button */
.message__like {background-image:url("https://clipground.com/images/thumbs-up-emoji-png-1.jpg") ;
    
    background-size: cover;
    width: 15px;
    height: 15px;
    border: none;
   }
  
  /* Style the thumbs-down button */
  .message__dislike {
    background-image:url("https://clipartcraft.com/images/emoji-clipart-thumbs-up-10.png") ;
    
    background-size: cover;
    width: 15px;
    height: 15px;
    border: none;
  }

  
  
  .messageField textarea {
    background-color: white;
  }
  
.message__delete {
    background-color: rgb(228, 16, 16);
    width: 15px;
    height: 15px;
    border: none;
    font-size: xx-small;
  }